aiocache
asyncpg
beautifulsoup4
bleach
django
fastapi
python-multipart
GPUtil
httpx
hvac
ollama
opentelemetry-sdk
opentelemetry-exporter-otlp
passlib[bcrypt]
pgvector
pillow
psutil
python-jose
pydantic
pydantic-settings
ray[serve]
spacy
sqlalchemy
tenacity
torch
transformers
trafilatura
uvicorn
llm2vec
pytest
pytest-asyncio
