aiocache
asyncpg
beautifulsoup4
bleach
django
fastapi
python-multipart
GPUtil
httpx
hvac
ollama
opentelemetry-sdk
opentelemetry-exporter-otlp
passlib[bcrypt]
pgvector
pillow
psutil
python-jose
pydantic
pydantic-settings
ray[serve]
spacy
sqlalchemy
tenacity
torch
transformers
trafilatura
uvicorn
llm2vec
textblob>=0.18.0
textblob-fr>=0.4.3
pytest
pytest-asyncio
cryptography
durationpy>=0.5,<1.0       # latest release is 0.9
kubernetes>=8.0.2,<10.0.0  # latest release is 9.0.1
oauthlib==3.3.1
requests-oauthlib==2.0.0
websocket-client==1.8.0
